@use 'base/mixins' as m;
@use 'base/variables' as v;

.seccion{
    padding: calc(v.$separacion / 3) 0;
    display: none;

    .text-align-center{
        text-align: center;
    }

}

.mostrar{
    display: block;
}

.ocultar{
    display: none;
}