@use 'base/mixins' as m;
@use 'base/variables' as v;

.contenido-resumen{

    p{
        margin-bottom: 1rem;
    }
    span{
        color: v.$azul;
        font-weight: v.$bold;
        font-size: 2.4rem;
    }
    h3{
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
}

.contenedor-servicio{
    padding: 1rem 0;
    border-bottom: 1px solid v.$gris;
}